@font-face {
    font-family: Pompadur; /* Имя шрифта */
    src: url(images/sprites/13ss.tif); /* Путь к файлу со шрифтом */
}
.error{
  color: blue;
  background-color: rgba(70, 0, 0, 0.4);
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.4);
}
.form-auth{
  box-sizing: border-box;
  width: 300px;
  input{
    box-sizing: border-box;
    margin: 10px;
    width: 100%;
    border: none;
    height: 25px;
    background-position: 0 30%;
    color: black;
    padding-bottom: 5px;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.4);
    &[type="text"]{
      background: url(/images/sprites/people.svg) no-repeat;
      border-bottom: 2px solid $grey-102;
      padding-left: 25px;
      box-shadow: none;
    }
    &[type="password"]{
      background: url(images/sprites/people.svg) no-repeat;
      border-bottom: 2px solid $grey-102;
      padding-left: 25px;
      box-shadow: none;
    }
    &.in{
      width: 50%;
      display: inline-block;
    }
    &.beack{
      display: inline-block;
      width: 40%;
    }
  }
}