.header{
  background-color: rgba(255, 255, 255,0.349);
  height: 60px;
  /*header вверх страницы*/
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  //height: $header-height; не стоит
  /*header вверх страницы*/
}
.nav{
  /* Центрирование*/
  position: fixed;
  left:50%; 
  margin-left: -20%;
  /* Центрирование*/
  background-color: rgba(255, 255, 255,0.502);
  text-align: center;
  ul{
    margin: 0 auto;
    top: 60px;
    height: 100%;
  }
  li{
    width: 175px;
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 2px;
    &:hover a{
      color: rgb(0, 137, 207);
    }
    &:nth-child(2){
      background-color: rgb(255, 183, 77);
    }
  }
  a {
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
  }  
}
