.header{
  /*header вверх страницы*/
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  //height: $footer-height; не стоит
  /*header вверх страницы*/
  background-color: yellow;
  opacity: 0.2;
}
.nav{
  text-align: center;
  ul{
    width:50%;
  }
  li{
    display: inline-block;
    &:hover a{
      color: rgb(0, 137, 207);
    }
  }
  a {
  font-size: 14px;
  font-family: "DINNextLTPro";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 20px;
  text-align: center;
  }
}