      </main>
      <!--content end-->
      <!--footer start-->
      <footer class="footer" id="Contact">
        <div class="grid grid-pad">
          <div class="col-1-4 mobile-col-1-2">
            <div class="content">
              <ul class="footer-contact">
                <li><a href="">Написать нам</a></li>
                <li><a href="">Наша миссия</a></li>
              </ul>
            </div>
          </div>
          <div class="col-1-4 mobile-col-1-2">
            <div class="content">
              <ul class="footer-contact">
                <li><a href="">Архив</a></li>
                <li><a href="">Карта сайта</a></li>
              </ul>
              <p class="copyright">Copyright © 2015 Fiodorov Nikita. All rights reserved.</p>
            </div>
          </div>
        </div>
      </footer>
      <!--footer end-->
    </div>
    <!-- end="inner-wrapper" -->
  </div>
  <script src="../lib/jquery.min.js"></script>
</body>

</html>