{% include 'header.html' %}


<!-- Встраеваемый контент-->
<script type="text/javascript" src="js/authorization.js"></script>
<script>$(document).ready(function() {formValidation('email','password');});</script>
      <div class="grid header-padding">
        <form id="form-valid" class="container form-auth" action="/auth" method="post" enctype="multipart/form-data">
          <div class="form-auth-content shadow-box">
            <h1 class="form-auth--header">Авторизация</h1> 
            {% if err  is defined %}
            <div class="error"> <b>При авторизации произошли следующие ошибки:</b>
            {% for error in err %} {{ error }}, {% endfor %} </div> {% endif %}
            <input id="email" class="form-auth-input" type='email' name='email' value="{{ POST }}" placeholder="Email" required minlength="3">
            <label for="password">
            <input id="password" class="form-auth-input" type="password" name="password" value="" placeholder="Пароль" required maxlength="100" minlength="8">
            <ul class="input-requirements">
							<li>Длинна более 8 символов</li>
							<li>Содержит минимум 1 цифру</li>
							<li>Содержит минимум 1 заглавную букву</li>
							<li>Содержит минимум 1 строчную букву</li>
							<li>Содержит спец символ(например @ !)</li>
        		</ul>
      			</label>
            <input id="check" name="check" type="checkbox" checked><label for="check" class="for-check">Запомнить меня</label>
            <input class="form-auth-input btn btn-normal content" type="submit" name="submit" value="Войти">
            <p class="for-note">Забыли свой пароль?</p>
            <p class="note">Нажми <a href="/reg">тут</a>, чтобы восстановить доступ</p>
          </div>
          <div class="form-auth-content">
          <p>Все еще нет аккаунта? <a href="/reg"> Зарегистироваться</a></p>
          </div>
        </form>
        </div>
        <!-- Встраеваемый контент!-->


{% include 'footer.html' %}