<div class="header-padding">
  <div class="container centr" id="calendar" style=""></div>

  <!-- Calendar block -->
  <div class="container" style="height:auto;">
    <div id="calendar-block"  style="">
      <div id="calendar-head" class="row">
        <div id="calendar-head-menu" class="col-xs-1">
          <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div id="calendar-head-month" class="col-xs-8">
          <div id="month">
            <!--<span id="left" class="glyphicon glyphicon-chevron-left" onclick="decreaseSelectedMonth();"></span>-->
            <b id="MonthYear-string">&nbsp;</b>
            <!--<span id="right" class="glyphicon glyphicon-chevron-right" onclick="increaseSelectedMonth();"></span>-->
          </div>
        </div>
        <div id="calendar-head-calType1" class="col-xs-1">
          <span class="glyphicon glyphicon-calendar"></span>
        </div>
        <div id="calendar-head-calType2" class="col-xs-1">
          <span id="list-calendarType" class="glyphicon glyphicon-pause"></span>
        </div>
      </div>

      <div id="calendar-content">
        <div id="calendar-loading"></div>
        <div id="calendar-content-container">

          {% if calendar %}
            {% for event in calendar %}
            <article>
              <div class="row">
                <div class="calendar-date col-xs-2">
                  <p class="calendar-date-dayNum">{{event.beginDateDay}}</p>
                  <p class="calendar-date-day">{{event.DayOfWeek}}</p>
                </div>
                <div class="calendar-text col-xs-9">
                  <p><b>{{event.name}}</b></p>
                  <p>{{event.address}}</p>
                  <p>{{event.beginTime}}</p>
                </div>
              </div>
            </article>
            {% endfor %}
          {% else %}
          <article>
            <div class="row">
              <div class="calendar-date col-xs-2">
              </div>
              <div class="calendar-text col-xs-9">
                <p><b>Упс, событий нет</b></p>
                <p>Но они скоро появятся</p>
                <p></p>
              </div>
            </div>
          </article>
          {% endif %}
        </div>
        <div id="load-more">
          Показать еще
        </div>
        <p> &nbsp;</p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/calendar.js"></script>