{% include 'header.html' %}
<!-- Встраеваемый контент-->

{% if success %}
<script type="text/javascript" src="js/authorization.js"></script>
<div class="grid header-padding">


Событие добавлено! Мир Вам!
{% else %}
<form class="container form-auth" action="/event_create" method="post" name="main" enctype="multipart/form-data">
 <div class="form-auth-content shadow-box">
    <h1 class="form-auth--header">Добавление новостей</h1>
    
    {% if form_err|length > 0 %}
  <div class="error"> <b>При добавлении новости произошли следующие ошибки:</b>
    {% for error in form_err %}
    {{ error }} {% endfor %} </div> {% endif %}
   
  <input type='text' required name='title' value="{% paste POST.title %}" placeholder="Название">
  
  <input class="form-auth-input--half" type="date" name="begin_date" class="inp" value="{% if POST.begin_date is defined %}{{ POST.begin_date|date("m.d.Y") }}{% else %}{{ "now"|date_modify("+1 day")|date("Y-m-d") }}{% endif %}"><div class="form-auth-input--half">Дата начала</div>
  
  <input class="form-auth-input--half" type="time" name="begin_time" value="{% if POST.begin_time is defined  %}{{POST.begin_time}}{% else %}12:00{% endif %}"><div class="form-auth-input--half">Время начала</div>
  
  <input class="form-auth-input--half" type="date" name="end_date" value="{% if POST.end_date is defined %}{{ POST.end_date |date("m.d.Y") }}{% else %}{{ "now"|date_modify("+1 day")|date("Y-m-d") }}{% endif %}"><div class="form-auth-input--half">Дата окончания</div>
  
  <input class="form-auth-input--half" type="time" name="end_time" value="{% if POST.end_time is defined  %}{{POST.end_time}}{% else %}18:00{% endif %}"><div class="form-auth-input--half">Время окончания</div>
  
  <input class="form-auth-input--half" type="text" required  name="tag" value="{% paste POST.tag %}"><div class="form-auth-input--half">Тег</div>
  
  <input type="text" name="url" value="{% paste POST.url %}" placeholder="Ссылка на мероприятие">
  
  <div id="map" class="map-small"></div>
  
  <input type='text' id='location' name='location' value="{% paste POST.location %}" placeholder="Адрес">
  
  <input type='hidden' id='coord_x' name='coord_x' value="{% paste POST.coord_x %}">
  
  <input type='hidden' id='coord_y' name='coord_y' value="{% paste POST.coord_y %}">

  <textarea name='description' required  value="{% paste POST.description %}" placeholder="Описание"></textarea>
  
  <input type="file" name="image" accept="image">
  </div>
  <div class="form-auth-content">
  <input class="btn btn-input" type="submit" name="submit" value="сохранить">
  
  <input type="submit" class="btn btn-input" onclick="history.go(-1);" value="Отмена" style="float: none;">
  </div>
  
  </form>
  
  </div>
<!-- Footer -->
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="/js/mapScripts/EventSMapScript.js" type="text/javascript"></script> 

{% endif %}


{% include 'footer.html' %}