<!--filter start-->
 <div class="grid grid-pad drop-flow">
<ul class="dropdown">
 <li class="dropbtn">Фильтр</li>
 <div class="dropdown-content">
  <li class="dropdown-elem">Среда
    <ul class="">
      <li><a href="">Мероприятия</a></li>
      <li><a href="">Очистка прибрежных территорий</a></li>
      <li><a href="">Очистка лесов</a></li>
      <li><a href="">Городские субботники</a></li>
    </ul>
  </li>
  <li class="dropdown-elem">Животные
    <ul>
      <li></li>
      <li><a href="">Мероприятия</a></li>
      <li><a href="">Пикеты, марши</a></li>
      <li><a href="">Волонтерство в притоках</a></li>
    </ul>
  </li>
  <li class="dropdown-elem">Горожане
    <ul>
      <li><a href="">Образовательное</a></li>
      <li><a href="">Зеленый транспорт</a></li>
      <li><a href="">Мероприятия</a></li>
    </ul>
  </li>
  </div>
</ul>
  </div> 
<!--filter end!-->

<!--Встраеваемый контент начало-->
<div class="grid grid-pad news">
 <div class="col-1-4">
    <div class="content">
      <img class="post-logo" src="/img/events/eco_post1.jpg" alt="">
      <figcaption class="card-info">
        <p class="residents">ЖИТЕЛИ</p>
        <h3>Очень длинный и информативный  заголовок</h3>
        <p class="timeinfo">Время начало конец Место Jpthrb Ст Метро  улица дом</p>
      </figcaption>
      <button class="btn btn-small">Присоединяйся</button>
    </div>
  </div>
  <div class="col-1-4">
    <div class="content">
      <img class="post-logo" src="/img/events/eco_post1.jpg" alt="">
      <figcaption class="card-info">
        <p class="residents">ЖИТЕЛИ</p>
        <h3>Очень длинный и информативный  заголовок</h3>
        <p class="timeinfo">Время начало конец Место Jpthrb Ст Метро  улица дом</p>
      </figcaption>
      <button class="btn btn-small">Присоединяйся</button>
    </div>
  </div>
  <div class="col-1-4">
    <div class="content">
      <img class="post-logo" src="/img/events/eco_post1.jpg" alt="">
      <figcaption class="card-info">
        <p class="residents">ЖИТЕЛИ</p>
        <h3>Очень длинный и информативный  заголовок</h3>
        <p class="timeinfo">Время начало конец Место Jpthrb Ст Метро  улица дом</p>
      </figcaption>
      <button class="btn btn-small">Присоединяйся</button>
    </div>
  </div>
  <div class="col-1-4">
    <div class="content">
      <img class="post-logo" src="/img/events/eco_post1.jpg" alt="">
      <figcaption class="card-info">
        <p class="residents">ЖИТЕЛИ</p>
        <h3>Очень длинный и информативный  заголовок</h3>
        <p class="timeinfo">Время начало конец Место Jpthrb Ст Метро  улица дом</p>
      </figcaption>
      <button class="btn btn-small">Присоединяйся</button>
    </div>
  </div>

 
{% for event in events %}
  <div class="col-1-4">
    <div class="content">
      {% if (event.ev_img is null ) %} 
        <img class="post-logo" src="/img/events/eco_post1.jpg" alt="">
      {% else %}
        <img class="post-logo" src="/img/events/{{event.ev_img}}" alt="" /> 
      {% endif %}
      <figcaption class="card-info">
        <p class="residents">#{{event.tag_name}}</p>
        <h3>{{event.ev_title}}</h3>
        <p class="timeinfo"><br />
        {% if ((event.ev_begin_time is not null ) and (event.ev_begin_time != '00:00:00')) %}
          время: {{event.ev_begin_time}}
        {% endif %}
        {% if ((event.ev_end_time is not null )  and (event.ev_end_time != '00:00:00') and event.ev_end_time != event.ev_begin_time ) %}
          - {{event.ev_end_time}}
        {% endif %}
        {% if (event.ev_begin_date is not null ) %}
          дата: {{event.ev_begin_date}}
        {% endif %}
        {% if ((event.ev_end_date is not null) and (event.ev_end_date != event.ev_begin_date)) %}
          - {{event.ev_end_date}}
        {% endif %}
        {% if (event.ev_address is not null ) %}
         <br /> {{event.ev_address}}
        {% endif %}
        </p>
      </figcaption>
      <button class="btn btn-small">Присоединяйся</button>
    </div>
  </div>
{% endfor %}
</div>
<!-- <script src="/js/eventsScripts/ajaxLoader.js"></script> -->
