{% include 'header.html' %}
<!-- Встраеваемый контент-->
<script type="text/javascript" src="../js/UI/authorization.js"></script>
<div class="grid header-padding">
<form class="container form-auth" action="event_create" method="post" name="main" enctype="multipart/form-data">
 <div class="form-auth-content shadow-box">
    <h1 class="form-auth--header">Добавление новостей</h1>
    
    {% if form_err|length > 0 %}
  <div class="error"> <b>При добавлении новости произошли следующие ошибки:</b>
    {% for error in form_err %}
    {{ error }} {% endfor %} </div> {% endif %}
    
  <input type='text' name='title' value="{{ POST.title }}" placeholder="Название">
  
  <input class="form-auth-input--half" type="date" name="begin_date" class="inp" value="{{ POST.begin_date }}"><div class="form-auth-input--half">Дата начала</div>
  
  <input class="form-auth-input--half" type="time" name="begin_time" value="{{ POST.begin_time }}"><div class="form-auth-input--half">Время начала</div>
  
  <input class="form-auth-input--half" type="date" name="end_date" value="{{ POST.end_date }}"><div class="form-auth-input--half">Дата окончания</div>
  
  <input class="form-auth-input--half" type="time" name="end_time" value="{{ POST.end_time }}"><div class="form-auth-input--half">Время окончания</div>
  
  <input class="form-auth-input--half" type="text" name="tag" value="{{ POST.tag }}"><div class="form-auth-input--half">Тег</div>
  
  <input type="text" name="url" value="{{ POST.url }}" placeholder="Ссылка на мероприятие">
  
  <div id="map" class="map-small"></div>
  
  <input type='text' id='location' name='location' value="{{ POST.location }}" placeholder="Адрес">
  
  <input type='hidden' id='coord_x' name='coord_x' value="{{ POST.coord_x}}">
  
  <input type='hidden' id='coord_y' name='coord_y' value="{{ POST.coord_y}}">

  <textarea name='description' value="{{ POST.description }}" placeholder="Описание"></textarea>
  
  <input type="file" name="image" accept="image">
  </div>
  <div class="form-auth-content">
  <input class="btn btn-input" type="submit" name="submit" value="сохранить">
  
  <input type="submit" class="btn btn-input" onclick="history.go(-1);" value="Отмена" style="float: none;">
  </div>
  
  </form>
  </div>
<!-- Footer -->
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="js/mapScripts/EventSMapScript.js" type="text/javascript"></script> {% include 'footer.html' %}