      </main>
      <!--content end-->
      <!--footer start-->
      <footer class="footer" id="Contact">
        <div class="grid grid-pad">
          <div class="col-1-4 mobile-col-1-2">
            <div class="content">
              <ul class="footer-contact">
                <li><a href="https://vk.com/myeco.city" target=_blank>Наше сообщество ВК</a></li>
                <li><a href="https://www.facebook.com/news.myeco.city" target=_blank>Страница в FB</a></li>
              </ul>
            </div>
          </div>
          <div class="col-1-4 mobile-col-1-2">
            <div class="content">
              <ul class="footer-contact">
                <!-- <li><a href="/">Архив</a></li>
                <li><a href="/">Карта сайта</a></li> -->
              </ul>
              <p class="copyright">Copyright © 2016 Проект "Мой Эко Город"</p>
            </div>
          </div>
        </div>
      </footer>
      <!--footer end-->
    </div>
    <!-- end="inner-wrapper" -->
  </div>
      <style>
          .wrapper {
              background: url("/templates/default/images/background{{ random(1) }}.png") no-repeat fixed right top;
          }
      </style>
</body>

</html>