{% include 'header.twig' %}
<link rel="stylesheet" type="text/css" href="js/slick/slick.css"/>
 <link rel="stylesheet" type="text/css" href="js/slick/slick-theme.css"/> 
<!-- <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
<!-- <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
<script type="text/javascript" src="js/slick/slick.min.js"></script>
      <script>
      $(document).on('ready', function() {
      $('.slide').slick({
        dots: true,
        infinite: false,
        speed: 200,
        slidesToShow: 1,
        adaptiveHeight: true,
        focusOnSelect:true,
        edgeFriction:0,//НЕЛЬЗЯ В КРАЙ ТЯНУТЬ
        initialSlide:1,
        mobileFirst:false,
        touchThreshold:4,// 1 - 100vw сколько протянуть для свайпа
//        prevArrow:'<button class="PrevArrow"></button>',
//        nextArrow:'<button class="NextArrow"></button>',
      });
      $(".slick-dots li:nth-child(1)").text("Карта");
      $(".slick-dots li:nth-child(2)").text("Новости");
      $(".slick-dots li:nth-child(3)").text("Календарь");  
      }); 
      </script>
<div class="slide">
  <div>{% include 'map.twig' %}</div>
  <div>{% include 'events.twig' %}</div>
  <div>{% include 'calendar.twig' %}</div>
</div>
<script>
$(document).ready(function () {
  reload_width();  
     $(window).resize(function () { reload_width();    }); 

});

function reload_width(){
  $(".map-container").width($( window ).width()-40);
  $("#map").height($( window ).height()-230);
  $(".news").css('min-height', $( window ).height()-200);
 // $(".page-content").height('100%');
  $("#calendar").css('min-height',$(".news").height());
  $(".map-container").css('min-height',$(".news").height());
}

</script>
{% include 'footer.twig' %}
