{% include 'header.html' %}
<link rel="stylesheet" type="text/css" href="js/slick/slick.css"/>
<!-- <link rel="stylesheet" type="text/css" href="js/slick/slick-theme.css"/> -->
<!-- <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
<!-- <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
<script type="text/javascript" src="js/slick/slick.min.js"></script>
      <script>
      $(document).on('ready', function() {
      $('.slide').slick({
        //dots: true,
        infinite: false,
        speed: 200,
        slidesToShow: 1,
        adaptiveHeight: true,
        focusOnSelect:true,
        edgeFriction:0,//НЕЛЬЗЯ В КРАЙ ТЯНУТЬ
        initialSlide:1,
        mobileFirst:false,
      }); 
      }); 
      </script>
<div class="slide">
  <div>{% include 'map.html' %}</div>
  <div>{% include 'events.html' %}</div>
  <div>{% include 'google-calendar.html' %}</div>
</div>
{% include 'footer.html' %}
