<!-- Header -->
{% include 'header.html' %}
<!-- / Main content -->
<script type="text/javascript" src="js/authorization.js"></script>
<script>$(document).ready(function() {formValidation('email','password','password_repeat');});</script>
<div class="grid header-padding">
<form id="form-valid" class="container form-auth" action="/reg" method="post" enctype="multipart/form-data">
    <div class="form-auth-content shadow-box">
    <h1 class="form-auth--header"> Регистрация</h1>
            {% if form_err|length > 0 %}
                <div class="form-row error">
                    <b>При регистрации произошли следующие ошибки:</b><br>
                    {% for error in form_err %}
                        {{ error }}<br>
                    {% endfor %}
                </div>
            {% endif %}
            <input id="email" class="form-auth-input" type='email' name='email' value="{{ POST }}" placeholder="Email" required>
            <label for="password">
            <input id="password" class="form-auth-input" type="password" name="password" value="" placeholder="Пароль" required>
            <ul class="input-requirements">
							<li>Длинна более 6 символов</li>
							<li>Содержит минимум 1 букву</li>
        		</ul>
      			</label>
            <input id="password_repeat" class="form-auth-input" type="password" name="password_repeat" value="" placeholder="Повторите пароль" required>
            <input class="form-auth-input btn btn-normal content" type="submit" name="submit" value="Вперед">
            <input id="check" name="check" type="checkbox" checked><label for="check" class="for-check">Я принимаю правила</label>
      <p class="for-note"></p>
        </div>
        <div class="form-auth-content t-centr">
          <p>Уже есть аккаунт? <a href="/auth"> Входи</a></p>
          </div>
  </form>
  </div>
<!-- Footer -->
{% include 'footer.html' %}
