<!-- Header -->
{% include 'header.html' %}
<!-- / Main content -->
<div class="grid header-padding">
<form class="container form-auth" action="/reg" method="post" enctype="multipart/form-data">
    <div class="form-auth-content shadow-box">
    <h1 class="form-auth--header"> Регистрация</h1>
            {% if form_err|length > 0 %}
                <div class="form-row error">
                    <b>При регистрации произошли следующие ошибки:</b><br>
                    {% for error in form_err %}
                        {{ error }}<br>
                    {% endfor %}
                </div>
            {% endif %}
            <input class="form-auth-input" type='text' name='email' value="{{ POST }}" placeholder="Email">
            <input class="form-auth-input" type="password" name="password" value="" placeholder="Пароль">
            <input class="form-auth-input" type="password" name="password_repeat" value="" placeholder="Повторите пароль">
        </div>
        <div class="form-auth-content">
            <input class="form-auth-input btn btn-normal content" type="submit" name="submit" value="Сохранить">
            <input type="submit" class="btn btn-input" onclick="history.go(-1);" value="Отмена" style="float: none;">
        </div>
  
  </form>
  </div>
<!-- Footer -->
{% include 'footer.html' %}
