<!-- Header -->
{% include 'header.html' %}
 <!-- / Main content -->
<form action="user_profil_edit" method="post" name="main" enctype="multipart/form-data">
    <div class="container">   
        <div class="box1">
            <div class='h1'><h1>Анкета</h1></div>
            {% if (form_err is defined) and (form_err|length > 0) %}
            <div class="form-row error">
                <b>При сохранении произошли следующие ошибки:</b><br>
                {% for error in form_err %}
                    <br>{{ error }}
                {% endfor %}
            </div>
            {% endif %}
            <div class='form-row'>
        		<label>Имя<span class="star">*</span></label>
        		<input type='text' name='name' value="{% if (POST.name  is defined) %} {{POST.name}} {% endif %}">
    		</div>
    		<div class='form-row'>
                <label>Фамилия</label>
                <input type="text" name="fname" class="inp" value="{% if (POST.fname  is defined) %} {{POST.fname}} {% endif %}">
            </div>
            <div class='form-row'>
                <label>e-mail</label>
                <input type="text" name="email" class="inp" value="{% if (POST.email  is defined) %} {{POST.email}} {% endif %}"">
            </div>
        	<div class='form-row'>
        		<label>Телефон</label>
        		<input type="text" name="telephone" class="inp" value="{% if (POST.telephone  is defined) %} {{POST.telephone}} {% endif %}"">
        	</div>
            <div class='form-row'>
                <label>Роль</label>
                <input type="text" name="role" class="inp" value="{% if (POST.role  is defined) %} {{POST.role}} {% endif %}"">
            </div>
            <div class='form-row'>
                <label >Тег<span class="star">*</span></label>
                <select name="tag" class="inp">
                <option value="0" selected >--------------------</option>
                {% for key, tag in tags %}
                    <option value="{{ key }}" {% if (POST.tag is defined) and (key == POST.tag) %} selected  {% endif %} >{{ tag|e }}</option>
                {% endfor %}
                </select>
            </div>
            <div class='form-row'>
            	<label>Город</label>
            	<input type='city' id='location' name='location' value="{% if (POST.city  is defined) %} {{POST.city}} {% endif %}"">
            </div>
            <div class='form-row'>
                <label>Загрузка фотографии</label>
                <input type="file" name="image" accept="image">
            </div>
            <div class="btom12"><input type="submit" name="submit" value="сохранить" class="butsub"></div>
            <div class="btom12"><input type="button" value="отмена" class="butback" onclick="history.go(-1);"></div>
        </div>
	</div>
</form>
<!-- Footer -->
{% include 'footer.html' %}