$btn-width:147px;
$btn-height:50px;
.btn{
  background-color: rgb(205, 73, 73);
  border: 0;
  cursor: pointer;
  margin: 2px 15px;
  font-size: 16px;
  font-family: "RobotoCondensed";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  &:hover{
    background-color: rgb(155, 73, 73);
  }
  &-normal{
    width: $btn-width;
    height: $btn-height;
  }
  &-small{
    width: $btn-width*0.8;
    height: $btn-height*0.8;
  }
}