.dropbtn {
  background-color: rgba(255, 255, 255,0.349);
  padding: 6px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.1);
}
.dropdown {
  position: relative;
  display: inline-block;
  &:hover {
    .dropdown-content {
      display: block;
      opacity: 1;
      visibility:visible;
      -webkit-transition: opacity 1s,visibility 2s ease-out 0s;
      -moz-transition: opacity 0.6s,visibility 2s ease-out 0s;
      -o-transition: opacity 0.6s,visibility 2s ease-out 0s;
      transition: opacity 0.6s,visibility 2s ease-out 0s;
    }
    .dropbtn {
      background-color: white;
    }
  }
  &-content {
    opacity: 0;
    //display: none;
    visibility: hidden;//для трансформ
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    .dropdown-elem{
      &:nth-child(1){background-color: rgb(159, 210, 171);}
      &:nth-child(2){background-color: rgb(249, 213, 142);}
      &:nth-child(3){background-color: rgb(197, 202, 233);}
      box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.4);
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      &:hover {
        background-color: #f1f1f1;
        ul{
          visibility:visible;//для трансформ
          opacity: 1;
          height: 200px;
        }
      }
      ul{
        visibility: hidden;//для трансформ
        display: block;
        opacity: 0;
        height: 0;
        -webkit-transition: height 0.6s,opacity 0.2s ease-out 0s;
          -moz-transition: height 0.6s,opacity 0.2s ease-out 0s;
          -o-transition: height 0.6s,opacity 0.2s ease-out 0s;
          transition: height 0.6s,opacity 0.2s ease-out 0s;
        //display: none;
      }
    }
  }
}