#calendar-block {
	display: block;
	left: 50%;
	width: 100%;
	max-width: 600px;
	text-align: center;
	top: 100px;
	height: auto;
	/*overflow: auto;*/
	background-color: rgba(255, 255, 255, 0.349);
	margin: 0 auto;
}

#calendar-head {
	font-size: 24px;
	background-color: rgba(255, 255, 255, 0.5);
	width: 100%;
	margin: 0;
	box-shadow: 0px 0px 5px #777, 0px 3px 5px #000;

}

#list-calendarType {
	-moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
}

#calendar-head-menu {
	background-color: rgba(255, 255, 255, 0.7);
	padding-right: 40px;
}

#calendar-content {
	display: block;
	height: auto;
	/*overflow: auto;*/

}

#calendar-loading {
	background-image: url(../images/loading.gif);
	width: 32px;
	height: 32px;
	display: none;
}

#left {
	display: block;
}

#left :hover {
	display: block;
	cursor: pointer;
}

#right {
	display: block;
	cursor: pointer;
}

#right :hover {
	display: block;
	cursor: pointer;
}

article {
	margin: 20px;
	display: block;
	width: auto;
	height: auto;

}

.calendar-date {

}

.calendar-text {
	background-color: #ccff90;
	display: block;
	text-align: left;
	-ms-text-justify: auto;
	text-justify: auto;
}

article p {
	margin: 0;
}

.calendar-date-dayNum {
	font-size: 26px;
}

.calendar-date-day {
	font-size: 10px;
}