.header{
  z-index: 1000;
  background-color: rgba(255, 255, 255,0.349);
  height: 60px;
  /*header вверх страницы*/
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  //height: $header-height; не стоит
  /*header вверх страницы*/
  .grid{
    padding-top: 5px !important;
  }
  .col-1-1{
    margin-top: 0px !important;
  }
  .right li{
    padding-top: 5px;
    font-size: 13px;
    line-height: 1.2;
    text-align: left;
    &:nth-child(1){
      color: rgb(5, 114, 0);
      font-weight: bold;
      border-bottom: 1px solid rgb(5, 114, 0);
    }
  }
  .add{
    border-radius: 50px;
    width: 244px;
    height: 100%;
    &:hover{
      add-logo:after {content: "Добавить";}
      background-color: rgb(255, 167, 38);
    }
  }
  .add-logo{
    width: 40px;
    height: 40px;
    padding: 5px;
    
  }
}

.nav{
  &-select{
    background-color: rgb(255, 183, 77)!important;
  }
  z-index: 1001;
  /* Центрирование*/
  position: fixed;
  left:50%; 
  margin-left: -270px;
  width: 540px;
  /* Центрирование*/
  text-align: center;
  ul{
    margin: 0 auto;
    top: 60px;
    height: 100%;
  }
  li{
    background-color: rgba(255, 255, 255,0.502);
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.2);
    width: 150px;
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 2px;
    &:hover a{
      color: rgb(0, 137, 207);
    }
  }
  a {
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
  }
}
.MyEcoSity{
  a {
    font-size: 20px;
    font-family: "Tahoma",sans-serif;
    color: rgb(5, 114, 0);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 1.14401687059413,0,0,1.14401687059413,0,0);
    -webkit-transform: matrix( 1.14401687059413,0,0,1.14401687059413,0,0);
    -ms-transform: matrix( 1.14401687059413,0,0,1.14401687059413,0,0);
  }
  p{
    padding-left: 0;
    font-size: 15px;
  }
  }


#pull{display: none;}
@media (max-width: 455px) {
  header{display: none;}
  .wrapper{padding-top: 0;}
  .nav {
    background-color: rgba(255, 255, 255,0.502);
    border-bottom: 0;
    ul {
      display: none;
      height: auto;
    }
    a#pull {
      display: block !important;
      width: 100%;
      padding: 20px 0 20px 0;
      position: relative;
      text-align: center;
    }
    .header-logo {
      display: none;
    }
    a#pull:after {
      content: "";
      background: url(../images/Background/nav-icon.png) no-repeat;
      width: 37px;
      height: 37px;
      display: inline-block;
      position: absolute;
      right: 20px;
      top: 20px;
    }
    li {
      display: block;
      float: none;
      width: 100%;
      padding: 10px;
      text-align: left;
      padding-left: 40%;
      letter-spacing: 5px;
    }
  }
}