$news-content-height:1.8;
.news{
  justify-content: center;
    display: flex;
    flex-wrap: wrap;
  .col-1-4{
    flex-basis: auto;
    padding-bottom: 20px;
    max-width: 235px;
      //height: 235px * $news-content-height;
      .content{
        overflow: hidden;
//        max-height: calc(235px * 1.8 - 19px);
      }
    
  }
}
.post-logo{
  width: 100%;
  height: auto;
}
.residents{
  color: rgb(74, 20, 140);
  text-align: right;
  padding: 5px 30px;
  text-transform: uppercase;
}
.card-info{
  margin: 0px;//для тени
  @extend .shadow-box;
  padding: 13px;
  min-width: auto;
  p,h3{
    padding: 0;
    margin: 0;
  }
}
