@charset "UTF-8";
// Default Variables
// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"
$slick-font-path: "./fonts/" !default;
$slick-font-family: "iconfont" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: rgba(255, 255, 255, 0.502) !default;
$slick-dot-color-active: rgb(255, 183, 77) !default;
$slick-prev-character: "\48" !default;
$slick-next-character: "\4f" !default;
$slick-prev-next-size: 60px !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.45 !default;
$slick-opacity-on-hover: 0.60 !default;
$slick-opacity-not-active: 0.01 !default;
@function slick-image-url($url) {
  @if function-exists(image-url) {
    @return image-url($url);
  }
  @else {
    @return url($slick-loader-path + $url);
  }
}

@function slick-font-url($url) {
  @if function-exists(font-url) {
    @return font-url($url);
  }
  @else {
    @return url($slick-font-path + $url);
  }
}


/* Slider */

.slick-list {
  .slick-loading & {
    background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
  }
}


/* Icons */

@if $slick-font-family=="slick" {
  @font-face {
    font-family: "slick";
    src: slick-font-url("slick.eot");
    src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}


/* Arrows */

.slick-prev,
.slick-next {
  position: fixed;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50vh;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  &:hover,
  &:focus {
    outline: none;
    background: transparent;
    color: transparent;
    &:before {
      opacity: $slick-opacity-on-hover;
    }
  }
  &.slick-disabled:before {
    opacity: $slick-opacity-not-active;
  }
  &:before {
    font-family: $slick-font-family;
    font-size: 20px;
    line-height: 1;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.slick-prev {
  left:50px;
  z-index: 50000;
  [dir="rtl"] & {
    left: auto;
    right: 0px;
  }
  &:before {
    color: black;
    content: $slick-prev-character;
    font-size: $slick-prev-next-size;
    [dir="rtl"] & {
      content: $slick-next-character;
    }
  }
}

.slick-next {
  right: $slick-prev-next-size + 90px;
  [dir="rtl"] & {
    left: 0px;
    right: auto;
  }
  &:before {
    color: black;
    font-size: $slick-prev-next-size;
    content: $slick-next-character;
    [dir="rtl"] & {
      content: $slick-prev-character;
    }
  }
}


/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.nav ul{display: none;}
.slick-dots {
  position: fixed;
  left:50%; 
  margin-left: -270px;
  width: 540px;
  text-align: center;
  top: 60px;
  li {
    background-color: rgba(255, 255, 255, 0.502);
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.2);
    width: 150px;
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 2px;
    &:hover a {
      color: rgb(0, 137, 207);
    }
    button {
      font-size: 19px;
      font-family: "Roboto", sans-serif;
      color: rgb(0, 0, 0)!important;
      line-height: 1.2;
      text-align: center;
      background: transparent;
      color: transparent;
      cursor: pointer;
      &:hover,
      &:focus {
        outline: none;
      }
    }
    &.slick-active {
      background-color: $slick-dot-color-active;
      font-size: 19px;
      font-family: "Roboto", sans-serif;
    }
  }
}