<!-- Header -->
{% include 'header.html' %}
 <!-- / Main content -->
<form action="/event_create" method="post" name="main" enctype="multipart/form-data">
    <div class="container">   
        <div class="box1">
            <div class='h1'><h1>Добавление новостей</h1></div>
            <div class='form-row'>
        		<label for='form_fname'>Название<span class="star">*</span></label>
        		<input type='text' id='form_fname' name='title'>
    		</div>
    		<div class='form-row'>
                <label for='form_sname'>Дата начала</label>
                <input type="text" name="begin_date" id="from_date_rus" value="" class="inp">
            </div>
        	<div class='form-row'>
        		<label for='form_email'>Дата окончания</label>
        		<input type="text" name="end_date" id="to_date_rus" value="" class="inp">
        	</div>
            <div style="width: 300px; height: 300px" id="map"></div>
            <div class='form-row'>
            	<label>Адрес</label>
            	<input type='text' id='location' name='location'>
            </div>
        	<div class='form-row'>
        		<label for='form_about'>Описание<span class="star">*</span></label>
        		<textarea id='form_about' name='description'></textarea>
        	</div>
            <div class="btom12"><input type="submit" value="сохранить" class="butsub"></div>
            <div class="btom12"><input type="button" value="отмена" class="butback" onclick="history.go(-1);"></div>
        </div>
	</div>
</form>
<!-- Footer -->
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="../../js/mapScripts/EventSMapScript.js" type="text/javascript"></script>
{% include 'footer.html' %}