<!-- Header -->
{% include 'header.html' %}
 <!-- / Main content -->
<form action="event_create" method="post" name="main" enctype="multipart/form-data">
    <div class="container">   
        <div class="box1">
            <div class='h1'><h1>Добавление новостей</h1></div>
            {% if form_err|length > 0 %}
            <div class="form-row error">
                <b>При добавлении новости произошли следующие ошибки:</b><br>
                {% for error in form_err %}
                    <br>{{ error }}
                {% endfor %}
            </div>
            {% endif %}
            <div class='form-row'>
        		<label>Название<span class="star">*</span></label>
        		<input type='text' name='title' value="{{ POST.title }}">
    		</div>
    		<div class='form-row'>
                <label>Дата начала</label>
                <input type="date" name="begin_date" class="inp" value="{{ POST.begin_date }}">
            </div>
            <div class='form-row'>
                <label>Время начала</label>
                <input type="time" name="begin_time" class="inp" value="{{ POST.begin_time }}">
            </div>
        	<div class='form-row'>
        		<label>Дата окончания</label>
        		<input type="date" name="end_date" class="inp" value="{{ POST.end_date }}">
        	</div>
            <div class='form-row'>
                <label>Время окончания</label>
                <input type="time" name="end_time" class="inp" value="{{ POST.end_time }}">
            </div>
            <div class='form-row'>
                <label >Тег<span class="star">*</span></label>
                <select name="tag" class="inp">
                <option value="0" selected >--------------------</option>
                {% for key, tag in tags %}
                    <option value="{{ key }}" {% if key == POST.tag %} selected  {% endif %} >{{ tag|e }}</option>
                {% endfor %}
                </select>
            </div>
            <div class='form-row'>
                <label >Ссылка на мероприятие</label>
                <input type="text" name="url" class="inp" value="{{ POST.url }}">
            </div>
            <div style="width: 300px; height: 300px" id="map"></div><br>
            <div class='form-row'>
            	<label>Адрес</label>
            	<input type='text' id='location' name='location' value="{{ POST.location }}">
                <input type='hidden' id='coord_x' name='coord_x' value="{{ POST.coord_x}}">
                <input type='hidden' id='coord_y' name='coord_y' value="{{ POST.coord_y}}">
            </div>
            <div class='form-row'>
                <label>Описание<span class="star">*</span></label>
        		<textarea name='description' value="{{ POST.description }}"></textarea>
        	</div>
            <div class='form-row'>
                <label>Загрузка фотографии</label>
                <input type="file" name="image" accept="image" [size="50"]>
            </div>
            <div class="btom12"><input type="submit" name="submit" value="сохранить" class="butsub"></div>
            <div class="btom12"><input type="button" value="отмена" class="butback" onclick="history.go(-1);"></div>
        </div>
	</div>
</form>
<!-- Footer -->
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="js/mapScripts/EventSMapScript.js" type="text/javascript"></script>
{% include 'footer.html' %}