<!DOCTYPE html>
<!-- Header -->
{% include 'header.html' %}
    <!-- Main content -->



        <div class="container">
            <div class="row">
                <!-- Левый блок  -->
                <div class="col-md-9">
                    <div class="row">
                        {% for event in events %}
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="post type-2">
                                {% if (event.image) %} <img src="images/event/{{event.image}}" alt="" /> {% else %} <img src="images/event/eco_post2.jpg" alt="" />{% endif %}
                                <div class="post-data">
                                     <a href="#"><h2>{{event.title}}</h2></a>
                                    <p>{{event.description}}</p>
                                    <p style="margin-bottom:0px;"><span class="glyphicon glyphicon-calendar"></span>{{event.begin_date}}</p>
                                     <p style="margin-bottom:0px;"><span class="glyphicon glyphicon-map-marker"></span><a href="#">{{event.address}}</a></p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- / Левый блок -->


                <!-- Правый блок с прошедшими событиями -->
                <div class="col-md-3 hidden-xs hidden-sm">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="last-posts">
                                <li></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- / Правый блок с прошедшими событиями -->
            </div>

    
            <!-- / Нижний блока 4 поста -->
        </div>
    <!-- / Main content -->

<!-- / Footer -->
{% include 'footer.html' %}