<!--<?php-->
<!--/**-->
 <!--* Created by PhpStorm.-->
 <!--* User: Олег-->
 <!--* Date: 11.04.2016-->
 <!--* Time: 19:51-->
 <!--* Desc: карта.-->
 <!--*/-->
<!--?>-->
<!doctype html>
{% include 'header.html' %}
<!--<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Карта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="../lib/jquery.min.js"></script>
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="../js/mapScripts/geoScript2.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css" media="screen" />

    <style>
        .accept {
            margin-left: 20px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <h1 class="title"><a href="#">GreenAge</a></h1>
    <div class="navigation">
        <!--<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse">
            <ul class="nav">
                <li><a href="/map">Карты</a></li>
                <li><a href="/">Анонсы</a></li>
                <li><a href="/cal">Календарь</a></li>
            </ul>
        </div>
    </div>
</div>
-->
<div class="map-container">
    <div id="map" style="width: 600px; height: 400px;"></div>
    <div>
        Фильтр по точкам <br>
        <form action="../map_files/filtration.php" method="post">
            <input name="check" type="checkbox" id="check" checked><label for="check">Прием
                вторсырья </label><br>
            <div class="accept">
                <input name="acception[]" value="dangerousGarbage" type="checkbox" id="dangerousGarbage" checked="true"><label
                    for="dangerousGarbage">Опасные отходы </label><br>
                <input name="acception[]" value="paper" type="checkbox" id="paper" checked="true"><label
                        for="paper">Макулатура </label><br>
                <input name="acception[]" value="glass" type="checkbox" id="plastic" checked="true"><label
                        for="plastic">Пластик </label><br>
                <input name="acception[]" value="plastic" type="checkbox" id="glass" checked="true"><label
                        for="glass">Стеклотара </label><br>
                <input name="acception[]" value="metal" type="checkbox" id="metal" checked="true"><label
                        for="metal">Металлолом </label><br>
                <input name="acception[]" value="clothes" type="checkbox" id="clothes" checked="true"><label
                        for="clothes">Одежда </label><br>
                <input name="acception[]" value="other" type="checkbox" id="other" checked="true"><label
                        for="other">Иное </label><br>
            </div>
            <input name="points[]" value="events" type="checkbox" id="events" checked="true"><label for="events">Предстоящие
                мероприятия</label>
            <br>
            <input name="points[]" value="bicycle" type="checkbox" id="bicycle" checked="true"><label for="bicycle">Пункты
                велопроката </label><br>
            <input name="points[]" value="eco-cafe" type="checkbox" id="eco-cafe" checked="true"><label for="eco-cafe">Эко-кафе </label><br>
            <input name="points[]" value="shelter" type="checkbox" id="shelter" checked="true"><label for="shelter">Приюты
                для животных </label><br>
            <input name="points[]" value="vegan" type="checkbox" id="vegan" checked="true"><label for="vegan">Магазины с
                веганскими</label>
            товарами
            <br>
            <input name="points[]" value="eco-goods" type="checkbox" id="eco-goods" checked="true"><label
                for="eco-goods">Магазины с</label>
            экотоварами
            <br>
            <input type="submit" value="Отладка скрипта">
        </form>
        <div id="result"></div>
    </div>
</div>
<script>
    function checStateOfkCheckBox() {
        if ($('#check').prop("checked"))
            $('.accept').show("fast");
        else
            $('.accept').hide("fast");
    }
</script>
<script src="../lib/jquery.min.js"></script>
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script src="../js/mapScripts/geoScript2.js"></script>

{% include 'footer.html' %}