<!-- Header -->
{% include 'header.html' %}

<!-- начало контента -->
<div class="fmain">
<!-- тело вкладок -->
<form action="reg" method="post" name="main" enctype="multipart/form-data">

        <div> Имя <span>*</span></div>
		<div><input type="text" size="100" size="100" name="name" value=""></div>

        <div> e-mail </div>
        <div><input type="text" size="100" name="email" value=""></div>

        <div> Пароль </div>
        <div> <input type="password" name="password" value=""></div>

        <div> Повторите пароль </div>
	<div><input type="password" name="password_repeat"value=""></div>

	<div  align="center" style="width:500px;">
		<input type="submit" value="сохранить">
		<input type="button" value="отмена" onclick="history.go(-1);">
	</div>
</form>
</div>
<!-- / Main content -->

<!-- / Footer -->
{% include 'footer.html' %}